@charset "utf-8";
/* CSS Document */

h1{
	
		color: skyblue;
		text-align: center;
		
}

Nav{
	border-style: groove;
background-color: gray;
text-align: center;
font-family: sans-serif;

}

p{
	text-align: center;
	


}
body{
text-align: center;

background-color: beige;




}
footer{ 
border-style: solid;
background-color: gray;

 }


